# Lists

In [ ]:
IN English language lists are considered as collection of items.
YOu need to shopping - To make a list of items you have to Buy.
In PYTHON: List is a most versatile datatype available wehich can be written as a list of comma seperated values
    (items)  between square Brackets.
2. Items or values in a list need not be of same datatype
3. Duplicate items are allowed.
5. It is modifiable.

In [1]:
#Allows us to store sets of information in one-place
colors = ["red","blue","green","purple"]

In [2]:
type(colors)

list

In [3]:
colors

['red', 'blue', 'green', 'purple']

In [4]:
#To check number of items/elements/variables in a list
len(colors)

4

In [5]:
colors[2] #left to right

'green'

In [6]:
#Right to left
colors[-2]

'green'

In [7]:
colors[0]

'red'

In [8]:
colors[-4]

'red'

In [ ]:
How to Fetch multiple elements from a list?
Slicing

In [9]:
col = ["red","blue","green","purple","gray","yellow","magenta","lemon","orange","cyan","cheery-red"]

In [12]:
#purple,gray,yellow,magenta,lemon
col[3:8] #upper bound remains excluded from output

['purple', 'gray', 'yellow', 'magenta', 'lemon']

In [13]:
#red,blue,green,purple
col[0:4]

['red', 'blue', 'green', 'purple']

In [14]:
#right to left
col[-8:-10]

[]

In [15]:
col[-8:-11]

[]

In [16]:
col[-11:-7]

['red', 'blue', 'green', 'purple']

In [17]:
col[-7:-11]

[]

In [19]:
col[-3:-4]

[]

In [20]:
col

['red',
 'blue',
 'green',
 'purple',
 'gray',
 'yellow',
 'magenta',
 'lemon',
 'orange',
 'cyan',
 'cheery-red']

In [21]:
col[-11:-7]

['red', 'blue', 'green', 'purple']

In [22]:
col[-11:4]

['red', 'blue', 'green', 'purple']

In [23]:
col[5:10]

['yellow', 'magenta', 'lemon', 'orange', 'cyan']

In [24]:
col[-6:-1]

['yellow', 'magenta', 'lemon', 'orange', 'cyan']

In [25]:
col[-6:-2]

['yellow', 'magenta', 'lemon', 'orange']

In [26]:
print(col)

['red', 'blue', 'green', 'purple', 'gray', 'yellow', 'magenta', 'lemon', 'orange', 'cyan', 'cheery-red']

In [27]:
col[2:] #colon represents all elements after index position

['green',
 'purple',
 'gray',
 'yellow',
 'magenta',
 'lemon',
 'orange',
 'cyan',
 'cheery-red']

In [28]:
col[:]#complete list

['red',
 'blue',
 'green',
 'purple',
 'gray',
 'yellow',
 'magenta',
 'lemon',
 'orange',
 'cyan',
 'cheery-red']

In [29]:
col[:7]

['red', 'blue', 'green', 'purple', 'gray', 'yellow', 'magenta']

In [32]:
#STEp
col[1:7]

['blue', 'green', 'purple', 'gray', 'yellow', 'magenta']

In [41]:
col[1:7:10]

['blue']

In [43]:
print(col)

['red', 'blue', 'green', 'purple', 'gray', 'yellow', 'magenta', 'lemon', 'orange', 'cyan', 'cheery-red']

In [45]:
#green,gray,magenta
col[2:7:2]

['green', 'gray', 'magenta']

In [46]:
#yellow,cheer-red
col[5:11:4]

['yellow', 'cyan']

In [51]:
col[5:11:5]

['yellow', 'cheery-red']

In [56]:
print(col[5]," " ,col[10])

yellow   cheery-red

In [57]:
col

['red',
 'blue',
 'green',
 'purple',
 'gray',
 'yellow',
 'magenta',
 'lemon',
 'orange',
 'cyan',
 'cheery-red']

# python-lists Methods

In [ ]:
1. append() - Adds an element at the end of the list

In [66]:
col.append(["white","Deep-Red"])

In [67]:
print(col)

['red', 'blue', 'green', 'purple', 'gray', 'yellow', 'magenta', 'lemon', 'orange', 'cyan', 'cheery-red', 'white', ['white', 'Deep-Red'], ['white', 'Deep-Red']]

In [68]:
len(col)

14

In [70]:
col[13]

['white', 'Deep-Red']

In [1]:
fruits = ["apple","mango","banana","fig"]

In [2]:
fruits.append("orange")

In [3]:
fruits

['apple', 'mango', 'banana', 'fig', 'orange']

In [4]:
len(fruits)

5

In [5]:
fruits[4]

'orange'

In [6]:
fruits.append(["water-melon","guava"])

In [7]:
len(fruits)

6

In [8]:
fruits

['apple', 'mango', 'banana', 'fig', 'orange', ['water-melon', 'guava']]

In [9]:
fruits[5]

['water-melon', 'guava']

In [10]:
fruits[5][0]

'water-melon'

In [11]:
fruits[5][1]

'guava'

In [12]:
a = fruits[2:6:3]

In [13]:
a

['banana', ['water-melon', 'guava']]

In [14]:
a[0][0:1]

'b'

In [15]:
This is about append : we can add multiple elements to a list but they will get stored in a single list at a
    single index position.

SyntaxError: invalid syntax (<ipython-input-15-6d0a59fb2014>, line 1)

In [16]:
2. Extend : Add the elements of a list(or any iterable), to the end of the current list

SyntaxError: invalid syntax (<ipython-input-16-081ab1b0b0e1>, line 1)

In [17]:
fruits

['apple', 'mango', 'banana', 'fig', 'orange', ['water-melon', 'guava']]

In [18]:
fruits.extend(["grapes","papaya"])

In [19]:
fruits

['apple',
 'mango',
 'banana',
 'fig',
 'orange',
 ['water-melon', 'guava'],
 'grapes',
 'papaya']

In [20]:
len(fruits)

8

In [21]:
fruits[6]

'grapes'

In [ ]:
either divya exist in a list

In [102]:
names = ["Divya","paritosh","khushagr","deepak"]
if "Anjali" in names:
    print("Yes, Divya exists in a guest list")
else:
    print("Do add her ")

Do add her

In [100]:
"Divya" in names

True

In [103]:
names.index("paritosh") #Used to tell the index position of the existing element.

1

In [22]:
fruits

['apple',
 'mango',
 'banana',
 'fig',
 'orange',
 ['water-melon', 'guava'],
 'grapes',
 'papaya']

In [23]:
fruits[2:6]

['banana', 'fig', 'orange', ['water-melon', 'guava']]

In [24]:
fruits[2:6:3]

['banana', ['water-melon', 'guava']]

In [ ]:
ques: what is the similarity and difference between append and extend?
similarity : add the elements at the end of the list
Difference: append only adds single element or no of element at a single index position
    and extend at different multiple positions.

In [ ]:
3.Insert : To add a element at a specific position of my choice.

In [25]:
fruits

['apple',
 'mango',
 'banana',
 'fig',
 'orange',
 ['water-melon', 'guava'],
 'grapes',
 'papaya']

In [28]:
fruits.insert(3,["cherry","kiwi"])

In [29]:
fruits

['apple',
 'mango',
 'banana',
 ['cherry', 'kiwi'],
 'cherry',
 'fig',
 'orange',
 ['water-melon', 'guava'],
 'grapes',
 'papaya']

In [ ]:
#Remove a element -- remove()

In [30]:
fruits.remove("banana") #It removes the first occurence of value.

In [31]:
fruits

['apple',
 'mango',
 ['cherry', 'kiwi'],
 'cherry',
 'fig',
 'orange',
 ['water-melon', 'guava'],
 'grapes',
 'papaya']

In [32]:
fruits.remove("cherry")

In [33]:
fruits

['apple',
 'mango',
 ['cherry', 'kiwi'],
 'fig',
 'orange',
 ['water-melon', 'guava'],
 'grapes',
 'papaya']

In [34]:
fruits.remove(["cherry","kiwi"])

In [35]:
fruits

['apple',
 'mango',
 'fig',
 'orange',
 ['water-melon', 'guava'],
 'grapes',
 'papaya']

In [37]:
fruits[4][1]

'guava'

In [40]:
fruits.remove(fruits[4])

In [41]:
fruits

['apple', 'mango', 'fig', 'orange', 'grapes', 'papaya']

In [ ]:
#POP - also returns value

In [42]:
fruits.pop()#By default index = -1

'papaya'

In [43]:
fruits

['apple', 'mango', 'fig', 'orange', 'grapes']

In [45]:
fruits.pop(2)

'fig'

In [46]:
fruits

['apple', 'mango', 'orange', 'grapes']

In [ ]:
ques: a= [10,23,56,[78]]
b = list(a)
a[3][0] = 95
a[1] = 34
print(b)
1. [10,34,56,[95]]
2.[10,23,56,[78]]
3.[10,23,56,[95]]
4.[10,34,56,[78]]

In [60]:
a= [10,23,56,[78]]
a[1] = 34
b = list(a)
a[3][0] = 95
a[2] = 99
print(b)

[10, 34, 56, [95]]

In [61]:
a

[10, 34, 99, [95]]

In [48]:
a= [10,23,56,[78]]

In [49]:
a

[10, 23, 56, [78]]

In [50]:
b = list(a)

In [51]:
b

[10, 23, 56, [78]]

In [52]:
a[3][0] = 95

In [53]:
a

[10, 23, 56, [95]]

In [54]:
b

[10, 23, 56, [95]]

In [55]:
a[1] = 34

In [57]:
a

[10, 34, 56, [95]]

In [58]:
b

[10, 23, 56, [95]]

In [62]:
fruits

['apple', 'mango', 'orange', 'grapes']

In [63]:
fruits.index("mango") #Returns index position of specific element at its first occurence

1

In [64]:
fruits.sort()

In [65]:
fruits

['apple', 'grapes', 'mango', 'orange']

In [66]:
numbers = [96.98,54,78,2,0,100006]

In [67]:
numbers.sort()#By default order is ascending

In [68]:
numbers

[0, 2, 54, 78, 96.98, 100006]

In [69]:
numbers.sort(reverse=True)

In [70]:
numbers

[100006, 96.98, 78, 54, 2, 0]

In [74]:
numbers.reverse()

In [75]:
numbers

[0, 2, 54, 78, 96.98, 100006]

#Some more in built and useful methods

In [78]:
sum(numbers)

100236.98

In [79]:
min(numbers)

0

In [80]:
max(numbers)

100006

In [72]:
numb = [96,98,54,78,2,0,100006,[75,84]]

In [76]:
numb.clear()#Remove all the items from the list

In [77]:
numb

[]

In [ ]:
How to clone or copy a list?
copy()

In [81]:
number1 = numbers.copy() # It returns a shallow copy of the existing list

In [82]:
number1

[0, 2, 54, 78, 96.98, 100006]

In [84]:
number1.count(54)

1

In [86]:
names = ["abc","sakshi","pranab","mayur","mayur","khushagr","paritosh","anjali","anjali","divya"]

In [87]:
names.count("anjali")#Number of occurence if item in a list

2

In [88]:
names.count("sakshi")

1

In [ ]:
#To concatenate two list

In [89]:
fruits

['apple', 'grapes', 'mango', 'orange']

In [91]:
fruits + names

['apple',
 'grapes',
 'mango',
 'orange',
 'abc',
 'sakshi',
 'pranab',
 'mayur',
 'mayur',
 'khushagr',
 'paritosh',
 'anjali',
 'anjali',
 'divya']

In [93]:
numbers

[0, 2, 54, 78, 96.98, 100006]

In [94]:
number1

[0, 2, 54, 78, 96.98, 100006]

In [95]:
number1 + numbers

[0, 2, 54, 78, 96.98, 100006, 0, 2, 54, 78, 96.98, 100006]

In [96]:
numbers + fruits

[0, 2, 54, 78, 96.98, 100006, 'apple', 'grapes', 'mango', 'orange']

In [ ]:
Task for today :
We need to make a program to calculate electricity bill and take units as input from user.
1 to 100 units - rs.10/unit
100 to 200 units - rs.15/unit
200 to 300 units - rs.20/unit
above 300 units - rs.25/unit

In [ ]:
500 units -- input
charge for first 100 units = 100 * 10 = 1000
for next hundred = 100 * 15 = 1500
for next hundred = 100 * 20 = 2000
 charge for remaining = 200 * 25 = 5000
1000 + 1500 + 2000 + 5000 = 9500.

In [ ]:
Algorithm : 1. To take input from user(units)
    2. if units <= 100:
        total bill = units * 10
        if units <=200:
        total bill =(100 *10) +(units - 100) * 15
        if units<= 300:
            total_bill = (100 *10) + (100 *15) + (units - 200)*20
        if units >300:
            (100 *10) + (100 *15) + (100 *20) + (units - 300 ) * 25

In [ ]:
Task 2: ask user to give integer input to make a list and store only even values and print the list.